<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Sistema de Arriendo de Películas Clase B</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link th:href="@{/css/style.css}" rel="stylesheet">
</head>
<body>
<div class="container">
    <header>
        <h1>Listado de Películas</h1>
        <p th:text="${nombre}"></p>
        <div th:replace="nav :: navega"></div>
    </header>
    <main>
        <table class="table" id="customers">
            <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Email</th>
                <th>Accion</th>
            </tr>
            </thead>
            <tbody>
                <tr th:each="customer: ${customers}">
                    <th th:text="${customer.getCustomerId()}">Esto es el text</th>
                    <td th:text="${customer.getFirstName()}">Esto es el text</td>
                    <td th:text="${customer.getLastName()}">Esto es el text</td>
                    <td th:text="${customer.getEmail()}">Esto es el text</td>
                    <td><a th:href="@{/customer/{id}(id=${customer.getCustomerId()})}">editar</a></td>
                </tr>
            </tbody>
        </table>
    </main>
</div>


<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js"
        integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.min.js"
        integrity="sha384-ODmDIVzN+pFdexxHEHFBQH3/9/vQ9uori45z4JjnFsRydbmQbmL5t1tQ0culUzyK"
        crossorigin="anonymous"></script>

</body>
</html>